{% extends 'content.html.twig' %}

{% from 'macros/breadcrumb.html.twig' import breadcrumb %}
{% from 'macros/titles.html.twig' import h1 %}

{% block title %}Nuevos datos del terreno{% endblock %}

{% block content %}
    <div class="row">
        {{ h1('Nuevos datos del terreno') }}

        {{ breadcrumb([
            {label: 'Inicio', href: path('app_home')},
            {label: 'Datos de los terrenos', href: path('app_land_index')},
            {label: 'Nuevo'},
        ]) }}
    </div>

    <h2 class="mb-4">Agregar datos del terreno</h2>

    {{ include('land/_form.html.twig', {showButton: true, title: title}) }}
{% endblock %}
