{% from 'macros/buttons.html.twig' import tableActionButton, deleteFormButton %}

{% if showButton is defined and showButton == true %}
    <div class="card-footer text-body-secondary">
        <div class="row">
            <div class="col-6">
                {{ tableActionButton(path(list.href, (list.data is defined) ? list.data : {}), 'bi:arrow-left-circle', list.label, list.title) }}
            </div>
            <div class="col-6 text-end">
                {% if state == 'detail' %}
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        {{ tableActionButton(path(edit.href, {'id': id}), 'fa:edit', edit.label, edit.title) }}
                        {% if delete is defined and delete is not null %}
                            {{ component('DeleteForm', {
                                path: path(delete.href, {'id': id}),
                                confirm: message,
                                token: 'delete' ~ id,
                                title: delete.title,
                                icon: 'bi:trash',
                                label: delete.label
                            }) }}
                        {% endif %}
                    </div>
                {% endif %}

                {% if state == 'form' %}
                    {% if id is not null %}
                        {% if delete is defined and delete is not null %}
                            {{ component('DeleteForm', {
                                path: path(delete.href, {'id': id}),
                                confirm: message,
                                token: 'delete' ~ id,
                                title: delete.title,
                                icon: 'bi:trash',
                                label: delete.label
                            }) }}
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}