{% from 'macros/buttons.html.twig' import tableActionButton, deleteFormButton,tableActionButton2, tableActionButton3 %}

{% if state == 'detail' %}
    {% set state = app.request.query.get('state') ?? 'detail' %}
{% endif %}

<div>
    {% if showButton is defined and showButton == true %}
        {% if state == 'form' %}
            {% if entity.id is not null %}
                {{ tableActionButton(path(goTo), 'bi:plus-lg', label, title) }}
            {% endif %}
        {% endif %}

        {% if state == 'detail' %}
            {{ tableActionButton(path(goTo), 'bi:plus-lg', label, title) }}
        {% endif %}
    {% else %}
        {% if state != 'modal' %}
            {{ tableActionButton3('#', 'mdi:close', '', 'Cerrar', stimulusAction('twig/card/card', 'close:prevent'), 'btn-link') }}
        {% endif%}
    {% endif %}
</div>