{% extends 'content.html.twig' %}

{% from 'macros/breadcrumb.html.twig' import breadcrumb %}
{% from 'macros/titles.html.twig' import h1 %}

{% block title %}Conexiones de red{% endblock %}

{% block content %}
    <div class="row">
        {{ h1('Conexiones de red', 'icon-park-outline:rectangular-circular-connection') }}

        {{ breadcrumb([
            {label: 'Inicio', href: path('app_home')},
            {label: 'Conexiones'},
        ]) }}
    </div>

    <h2 class="mb-4">Gestión de conexiones de red</h2>

    {% component ManagePage %}
        {% block list %}
            {{ include('network_connection/_list.html.twig') }}
        {% endblock %}
    {% endcomponent %}
{% endblock %}
