{% extends 'content.html.twig' %}

{% from 'macros/breadcrumb.html.twig' import breadcrumb %}
{% from 'macros/titles.html.twig' import h1 %}

{% block title %}Nuevo Local{% endblock %}

{% block content %}
    <div class="row">
        {{ h1('Locales', 'lucide-lab:floor-plan') }}

        {{ breadcrumb([
            {label: 'Inicio', href: path('app_home')},
            {label: 'Locales', href: path('app_local_index', {'subSystem': sub_system.id})},
            {label: 'Nuevo'},
        ]) }}
    </div>

    <h2 class="mb-4">Agregar local en : {{ sub_system.name }}</h2>

    {{ include('local/_form.html.twig', {'showButton': true, title: title}) }}
{% endblock %}
