{% extends 'content.html.twig' %}

{% from 'macros/breadcrumb.html.twig' import breadcrumb %}
{% from 'macros/titles.html.twig' import h1 %}

{% block title %}Editar fuente{% endblock %}

{% block content %}
    <div class="row">
        {{ h1('Fuente de información') }}

        {{ breadcrumb([
            {label: 'Inicio', href: path('app_home')},
            {label: 'Fuentes', href: path('app_ite_source_index')},
            {label: 'Editar'},
        ]) }}
    </div>

    <h2 class="mb-4">Editar fuente</h2>

    {{ include('ite_source/_form.html.twig', {showButton: true, title: title}) }}
{% endblock %}
