{% extends 'base.html.twig' %}

{% block title %}Edit IteSource{% endblock %}

{% block body %}
    <h1>Edit IteSource</h1>

    {{ include('ite_source/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_ite_source_index') }}">back to list</a>

    {{ include('ite_source/_delete_form.html.twig') }}
{% endblock %}
