{% extends 'content.html.twig' %}

{% from 'macros/breadcrumb.html.twig' import breadcrumb %}
{% from 'macros/titles.html.twig' import h1 %}

{% block title %}Fuentes de información{% endblock %}

{% block content %}
    <div class="row">
        {{ h1('Fuentes', 'fluent-mdl2:source') }}

        {{ breadcrumb([
            {label: 'Inicio', href: path('app_home')},
            {label: 'Fuentes'},
        ]) }}
    </div>

    <h2 class="mb-4">Gestión de fuentes</h2>

    {% component ManagePage %}
        {% block list %}
            {{ include('ite_source/_list.html.twig') }}
        {% endblock %}
    {% endcomponent %}
{% endblock %}
