{% extends 'content.html.twig' %}

{% from 'macros/breadcrumb.html.twig' import breadcrumb %}
{% from 'macros/titles.html.twig' import h1 %}

{% block title %}Nueva Fuente de información{% endblock %}

{% block content %}
    <div class="row">
        {{ h1('Fuentes', 'fluent-mdl2:source') }}

        {{ breadcrumb([
            {label: 'Inicio', href: path('app_home')},
            {label: 'Fuentes', href: path('app_ite_source_index')},
            {label: 'Nueva'},
        ]) }}
    </div>

    <h2 class="mb-4">Agregar fuente</h2>

    {{ include('ite_source/_form.html.twig', {showButton: true, title: title}) }}
{% endblock %}
