<form method="post" action="{{ path('app_individual_client_delete', {'id': individual_client.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');" style="display: inline">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ individual_client.id) }}">
    <button class="btn btn-sm btn-danger">Eliminar</button>
</form>
