{% extends 'content.html.twig' %}

{% from 'macros/breadcrumb.html.twig' import breadcrumb %}
{% from 'macros/titles.html.twig' import h1 %}

{% block title %}Editar País{% endblock %}

{% block content %}
    <div class="row">
        {{ h1('Paises', 'icon-park-outline:international') }}

        {{ breadcrumb([
            {label: 'Inicio', href: path('app_home')},
            {label: 'Paises', href: path('app_country_index')},
            {label: 'Editar'},
        ]) }}
    </div>

    <h2 class="mb-4">Editar país</h2>

    {{ include('country/_form.html.twig', {showButton: true, title: title}) }}
{% endblock %}
