{% from 'macros/link.html.twig' import activeLink %}

{% if icon is not defined %}
    {% set icon = null %}
{% endif %}

<li>
    <a href="{{ path(link) }}"
       class="nav-link link-body-emphasis {{ activeLink(link) }}">
        {% if icon is not null %}
            {{ ux_icon(icon, {class:'bi'}) }}
        {% endif %}
        {{ label }}
    </a>
</li>
