{% extends 'content.html.twig' %}

{% from 'macros/breadcrumb.html.twig' import breadcrumb %}
{% from 'macros/titles.html.twig' import h1 %}


{% block title %}Clientes{% endblock %}

{% block content %}
    <div class="row">
        {{ h1('Clientes', 'fa:user') }}

        {{ breadcrumb([
            {label: 'Inicio', href: path('app_home')},
            {label: 'Clientes empresariales'},
        ]) }}
    </div>

    <h2 class="mb-4">Gestion de clientes empresariales</h2>

    {% component ManagePage %}
        {% block list %}
            {{ include('enterprise_client/_list.html.twig') }}
        {% endblock %}
    {% endcomponent %}

{% endblock %}

