{% extends 'content.html.twig' %}

{% from 'macros/breadcrumb.html.twig' import breadcrumb %}
{% from 'macros/titles.html.twig' import h1 %}

{% block title %}Editar regulación urbana{% endblock %}

{% block content %}
    <div class="row">
        {{ h1('Regulaciones urbanas', 'lets-icons:paper') }}

        {{ breadcrumb([
            {label: 'Inicio', href: path('app_home')},
            {label: 'Regulaciones', href: path('app_urban_regulation_index')},
            {label: 'Editar'},
        ]) }}
    </div>

    <h2 class="mb-4">Editar regulación urbana</h2>

    {{ include('urban_regulation/_form.html.twig', {'showButton': true, 'title': title}) }}
{% endblock %}
