{% extends 'content.html.twig' %}

{% from 'macros/breadcrumb.html.twig' import breadcrumb %}
{% from 'macros/titles.html.twig' import h1 %}

{% block title %}Zonas de ubicaci贸n{% endblock %}

{% block content %}
    <div class="row">
        {{ h1('Zonas de ubicaci贸n') }}

        {{ breadcrumb([
            {label: 'Inicio', href: path('app_home')},
            {label: 'Zonas'},
        ]) }}
    </div>

    <h2 class="mb-4">Gesti贸n de zonas de ubicaci贸n</h2>

    {% component ManagePage %}
        {% block list %}
            {{ include('location_zone/_list.html.twig') }}
        {% endblock %}
    {% endcomponent %}
{% endblock %}
