{% macro breadcrumb(options, current=null) %}
    {% if current is null %}
        {% set current = (options|last).label %}
    {% endif %}

    <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>'" class="col-md-3">
        <ol class="breadcrumb">
            {% for option in options %}
                <li class="breadcrumb-item {% if option.label is same as current %}active{% endif %}"
                    {% if option.label is same as current %}aria-current="page"{% endif %}
                >
                    <a {% if option.label is not same as current %}href="{{ option.href }}"{% endif %}>
                        {{ option.label }}
                    </a>
                </li>
            {% endfor %}
        </ol>
    </nav>
{% endmacro %}