{% extends 'content.html.twig' %}

{% from 'macros/breadcrumb.html.twig' import breadcrumb %}
{% from 'macros/titles.html.twig' import h1 %}

{% block title %}Contratos{% endblock %}

{% block content %}
    <div class="row">
        {{ h1('Inversiones') }}

        {{ breadcrumb([
            {label: 'Inicio', href: path('app_home')},
            {label: 'Inversiones'},
        ]) }}
    </div>

    <h2 class="mb-4">Gestión de inversiones</h2>

    {% component ManagePage %}
        {% block list %}
            {{ include('investment/_list.html.twig') }}
        {% endblock %}
    {% endcomponent %}
{% endblock %}
