{% extends 'content.html.twig' %}

{% from 'macros/breadcrumb.html.twig' import breadcrumb %}
{% from 'macros/titles.html.twig' import h1 %}

{% block title %}Obras{% endblock %}

{% block content %}
    <div class="row">
        {{ h1('Obras', 'streamline-pixel:construction-building-real-eastate') }}

        {{ breadcrumb([
            {label: 'Inicio', href: path('app_home')},
            {label: 'Obras'},
        ]) }}
    </div>

    {% if project is null %}
        <h2 class="mb-4">Gestión de Obras</h2>
    {% else %}
        <h2 class="mb-4">Gestión de Obras del proyecto: {{ project.name }}</h2>
    {% endif %}

    {% component ManagePage %}
        {% block list %}
            {{ include('building/_list.html.twig') }}
        {% endblock %}
    {% endcomponent %}
{% endblock %}
