{% extends 'content.html.twig' %}

{% from 'macros/breadcrumb.html.twig' import breadcrumb %}
{% from 'macros/titles.html.twig' import h1 %}

{% block title %}Nueva Obra{% endblock %}

{% block content %}
    <div class="row">
        {{ h1('Obras', 'streamline-pixel:construction-building-real-eastate') }}

        {{ breadcrumb([
            {label: 'Inicio', href: path('app_home')},
            {label: 'Obras', href: path('app_building_index')},
            {label: 'Nueva'},
        ]) }}
    </div>

    <h2 class="mb-4">Agregar Obra</h2>

    {{ include('building/_form.html.twig', {'showButton': true, title: title}) }}
{% endblock %}
