{% if not app.request.query.get('modal') %}
    {% component 'Card:Card' with {
        cssClass: 'mb-4',
        extra: '',
        headerCssClass: 'd-flex justify-content-between align-items-center',
        title: 'Listado de estimados urbanizacion',
    } %}
        {% block header %}
            {% from 'macros/buttons.html.twig' import tableActionButton2,tableActionButton3 %}

            <div>
                {{ tableActionButton3(path('app_just_value_estimate_new'), 'bi:plus-lg', 'Nueva', 'Nuevo estimado de urbanización', stimulusAction('twig/card/card', 'newElement:prevent', null, {url:path('app_just_value_estimate_new')})) }}
            </div>
        {% endblock %}

        {% block body %}
            {{ include('just_value_estimate/_table.html.twig') }}
        {% endblock %}

    {% endcomponent %}

{% else %}
    {{ include('just_value_estimate/_table.html.twig') }}
{% endif %}


