{% extends 'content.html.twig' %}

{% from 'macros/breadcrumb.html.twig' import breadcrumb %}
{% from 'macros/titles.html.twig' import h1 %}

{% block title %}Nuevo estimado de urbanización{% endblock %}

{% block content %}
    <div class="row">
        {{ h1('Estimados de urbanización') }}

        {{ breadcrumb([
            {label: 'Inicio', href: path('app_home')},
            {label: 'Estimados de urbanización', href: path('app_just_value_estimate_index')},
            {label: 'Nuevo'},
        ]) }}
    </div>

    <h2 class="mb-4">Agregar estimado de urbanización</h2>

    {{ include('just_value_estimate/_form.html.twig', {'showButton': true, title: title}) }}
{% endblock %}
