{% extends 'content.html.twig' %}

{% from 'macros/breadcrumb.html.twig' import breadcrumb %}
{% from 'macros/titles.html.twig' import h1 %}

{% block title %}Editar Ubicaci칩n{% endblock %}

{% block content %}
    <div class="row">
        {{ h1('Ubicaciones geogr치ficas') }}

        {{ breadcrumb([
            {label: 'Inicio', href: path('app_home')},
            {label: 'Ubicaciones', href: path('app_geographic_location_index')},
            {label: 'Editar'},
        ]) }}
    </div>

    <h2 class="mb-4">Editar Ubicaci칩n geogr치fica</h2>

    {{ include('geographic_location/_form.html.twig', {'showButton': true, 'title': title}) }}
{% endblock %}
