{% extends 'content.html.twig' %}

{% from 'macros/breadcrumb.html.twig' import breadcrumb %}
{% from 'macros/titles.html.twig' import h1 %}

{% block title %}Editar tipo de regulación urbana{% endblock %}

{% block content %}
    <div class="row">
        {{ h1('Tipos de regulaciones urbanas', 'mingcute:paper-2-line') }}

        {{ breadcrumb([
            {label: 'Inicio', href: path('app_home')},
            {label: 'Tipos', href: path('app_urban_regulation_type_index')},
            {label: 'Editar'},
        ]) }}
    </div>

    <h2 class="mb-4">Editar tipo de regulación urbana</h2>

    {{ include('urban_regulation_type/_form.html.twig', {'showButton': true, 'title': title}) }}
{% endblock %}
