{% extends 'content.html.twig' %}

{% from 'macros/breadcrumb.html.twig' import breadcrumb %}
{% from 'macros/titles.html.twig' import h1 %}

{% block title %}Tipos de regulaciones urbanas{% endblock %}

{% block content %}
    <div class="row">
        {{ h1('Tipos de regulaciones urbanas', 'mingcute:paper-2-line') }}

        {{ breadcrumb([
            {label: 'Inicio', href: path('app_home')},
            {label: 'Tipos'},
        ]) }}
    </div>

    <h2 class="mb-4">Gestión de tipos de regulaciones urbanas</h2>

    {% component ManagePage %}
        {% block list %}
            {{ include('urban_regulation_type/_list.html.twig') }}
        {% endblock %}
    {% endcomponent %}
{% endblock %}
