<form method="post" action="{{ path('app_person_delete', {'id': person.id}) }}" onsubmit="return confirm('Esta seguro que desea eliminar a la persona?');" style="display: inline">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ person.id) }}">
    <button class="btn btn-sm btn-danger">Eliminar</button>
</form>
