{% extends 'content.html.twig' %}

{% from 'macros/breadcrumb.html.twig' import breadcrumb %}
{% from 'macros/titles.html.twig' import h1 %}

{% block title %}Editar estimado de urbanizaci贸n{% endblock %}

{% block content %}
    <div class="row">
        {{ h1('Estimados de urbanizaci贸n') }}

        {{ breadcrumb([
            {label: 'Inicio', href: path('app_home')},
            {label: 'Estimados de urbanizaci贸n', href: path('app_urbanization_estimate_index')},
            {label: 'Editar'},
        ]) }}
    </div>

    <h2 class="mb-4">Editar estimado de urbanizaci贸n</h2>

    {{ include('urbanization_estimate/_form.html.twig', {'showButton': true, 'title': title}) }}
{% endblock %}
