<!DOCTYPE html>
<html lang="en" data-bs-theme="dark" id="top">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Sistema para el Diseño con Indicadores y Regulaciones Urbanas">
    <meta name="author" content="Nilmar Sanchez Muguercia, Enrique Capote Passanaout">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="/favicon.png" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" type="image/png" />
    <link rel="manifest" href="/manifest.json" />
{#    <link rel="icon"#}
{#          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">#}

    {% block stylesheets %}{% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body>
    <div class="dropdown position-fixed bottom-0 end-0 mb-3 me-3 bd-mode-toggle">
        <a class="btn btn-bd-primary py-2 d-flex align-items-center"
                id="bd-theme"
                href="#top"
                aria-label="Go up">
            {{ ux_icon('gg:arrow-up-o', {'class':'bi'}) }}
        </a>
    </div>
    {% block body %}{% endblock %}
    {% if app.environment == 'prod' %}
        <script>
            document.getElementsByTagName('body')[0].addEventListener('keydown', function (event) {
                if (
                    event.key === 'F12' ||
                    (event.ctrlKey && event.key === 'r') ||
                    event.key === 'F5' ||
                    (event.ctrlKey && event.key === 's') ||
                    (event.ctrlKey && event.key === 'p') ||
                    (event.ctrlKey && event.key === 'u')) {
                    event.preventDefault();
                }
            });
        </script>
    {% endif %}
</body>
</html>
