{% extends 'content.html.twig' %}

{% from 'macros/breadcrumb.html.twig' import breadcrumb %}
{% from 'macros/titles.html.twig' import h1 %}

{% block title %}Sistemas constructivos{% endblock %}

{% block content %}
    <div class="row">
        {{ h1('Sistemas constructivos', 'bi:pin-map') }}

        {{ breadcrumb([
            {label: 'Inicio', href: path('app_home')},
            {label: 'Sistemas'},
        ]) }}
    </div>

    <h2 class="mb-4">Gestión de sistemas constructivos</h2>

    {% component ManagePage %}
        {% block list %}
            {{ include('constructive_system/_list.html.twig') }}
        {% endblock %}
    {% endcomponent %}
{% endblock %}
