{% extends 'base.html.twig' %}

{% block title %}New ConstructiveSystem{% endblock %}

{% block body %}
    <h1>Create new ConstructiveSystem</h1>

    {{ include('constructive_system/_form.html.twig') }}

    <a href="{{ path('app_constructive_system_index') }}">back to list</a>
{% endblock %}
