{% component 'Card:Card' with {
    cssClass: 'mb-4',
    extra: 'id="sub_system_detail_' ~ sub_system.id,
    headerCssClass: 'd-flex justify-content-between align-items-center',
    title: title,
} %}

    {% block header %}

    {% endblock %}

    {% block body %}
        <div class="table-responsive table mt-2" role="grid" aria-describedby="dataTable_info">
            <table class="table table-hover">
                {{ include('sub_system/_data.html.twig') }}
            </table>
        </div>
    {% endblock %}

    {% block footer %}

    {% endblock %}

{% endcomponent %}


