{% extends 'content.html.twig' %}

{% from 'macros/breadcrumb.html.twig' import breadcrumb %}
{% from 'macros/titles.html.twig' import h1 %}

{% block title %}Subsistemas{% endblock %}

{% block content %}
    <div class="row">
        {{ h1('Subsistemas', 'ix:building-block-filled') }}

        {{ breadcrumb([
            {label: 'Inicio', href: path('app_home')},
            {label: 'Subsistemas'},
        ]) }}
    </div>

    <h2 class="mb-4">
        Subsistemas de: {{ floor.name }}
    </h2>

    {% component ManagePage %}
        {% block list %}
            {{ include('sub_system/_list.html.twig') }}
        {% endblock %}
    {% endcomponent %}
{% endblock %}
