{% extends 'content.html.twig' %}

{% from 'macros/breadcrumb.html.twig' import breadcrumb %}
{% from 'macros/titles.html.twig' import h1 %}

{% block title %}Editar Revisión{% endblock %}

{% block content %}
    <div class="row">
        {{ h1('Revisión') }}

        {{ breadcrumb([
            {label: 'Inicio', href: path('app_home')},
            {label: 'Revisiones', href: path('app_building_revision_index')},
            {label: 'Editar'},
        ]) }}
    </div>

    <h2 class="mb-4">Editar revisión</h2>

    {{ include('building_revision/_form.html.twig', {'showButton': true, 'title': title}) }}
{% endblock %}
