{% extends 'content.html.twig' %}

{% from 'macros/breadcrumb.html.twig' import breadcrumb %}
{% from 'macros/titles.html.twig' import h1 %}

{% block title %}Revisiones{% endblock %}

{% block content %}
    <div class="row">
        {{ h1('Revisiones') }}

        {{ breadcrumb([
            {label: 'Inicio', href: path('app_home')},
            {label: 'Revisiones'},
        ]) }}
    </div>

    <h2 class="mb-4">Gestión de Revisiones</h2>

    {% component ManagePage %}
        {% block list %}
            {{ include('building_revision/_list.html.twig') }}
        {% endblock %}
    {% endcomponent %}
{% endblock %}
