{% extends 'content.html.twig' %}

{% from 'macros/breadcrumb.html.twig' import breadcrumb %}
{% from 'macros/titles.html.twig' import h1 %}

{% block title %}Representantes{% endblock %}

{% block content %}
    <div class="row">
        {{ h1('Representantes') }}

        {{ breadcrumb([
            {label: 'Inicio', href: path('app_home')},
            {label: 'Representantes'},
        ]) }}
    </div>

    <h2 class="mb-4">Gestión de representantes</h2>

    {% component ManagePage %}
        {% block list %}
            {{ include('representative/_list.html.twig') }}
        {% endblock %}
    {% endcomponent %}
{% endblock %}
