<div class="alert alert-{{ type }} alert-dismissible fade show align-items-center text-bg-{{ type }}" role="alert">
    {{ ux_icon(icon, {class:'bi', style:'width:24px;height:20px'}) }}
    {{ message|raw }}
</div>