{% extends 'content.html.twig' %}

{% from 'macros/breadcrumb.html.twig' import breadcrumb %}
{% from 'macros/titles.html.twig' import h1 %}

{% block title %}Gestión de usuarios y roles{% endblock %}

{% block content %}
    <div class="row">
        {{ h1('Seguridad', 'bi:lock') }}

        {{ breadcrumb([
            {label: 'Inicio', href: path('app_home')},
            {label: 'Seguridad'},
        ]) }}
    </div>

    <h2 class="mb-4">Gestión de usuarios y roles</h2>
    {% component ManagePage %}
        {% block list %}
            {{ include('user/_list.html.twig') }}
        {% endblock %}
    {% endcomponent %}
{% endblock %}


