<div
        class="backdrop"
        {{ stimulusController('twig/backdrop/backdrop') }}
        style="display: none"
        data-id="{{ id }}"
        {{ attr }}
>
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Cargando...</span>
    </div>
</div>